<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IWSGarage" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:65242/WSGarage.svc" binding="basicHttpBinding"
			 bindingConfiguration="BasicHttpBinding_IWSGarage" contract="ServiceReference1.IWSGarage"
			 name="BasicHttpBinding_IWSGarage" />
		</client>
	</system.serviceModel>
</configuration>

